
 
 .subscribe-button{

        background-color: red;
        color: rgb(249, 248, 248);
        border: red;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10;
        padding-right: 10px;
        transition: opacity 2s;
        vertical-align: bottom;
    }


    .subscribe-button:hover {

        opacity: 0.5;
    }

    .subscribe-button:active{
        background-color: rgb(221, 135, 95);
    }


    .join-button{
        background-color: rgb(226, 233, 238);
        border-color: blue;
        border-style: solid;s
        border-width: 2px;
        color: blue;
        border-radius: 3px;
        cursor: pointer;
        padding-left: 20px;
        padding-top:5px;
        vertical-align: bottom;
        


        transition: background-color 1s,
        colour 1s;


    }

    .join-button:hover{
        background-color: rgb(5, 144, 243);
        color: rgb(231, 231, 238);
    }
    .join-button:active{
        opacity: 3s;
    }


    .tweet-button{
        background-color: #4a84d1;
        color:white;
        border: none;
        border-radius: 18px;
        font-size: 15px;
        cursor: pointer;
       
        transition: box-shadow 1s;
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 8px;
        vertical-align: bottom;
       
      
        
    }

    .tweet-button:hover{
        box-shadow: 2px 2px 2px rgb(98, 93, 93);
       
    }