
            p {
                font-family: arial;
                margin-top: 0px;
                margin-bottom: 0px;

            }
            body{
                margin: 0%;
                padding-top: 70px;
                padding-left: 110px;
                padding-right:10px ;
                background-color: rgb(233, 230, 227);
            
            }