.header{
    height: 55px;
    display: flex;
    flex-direction: row;
     justify-content: space-between;
     position: fixed;
     top: 0px;
     left: 0px;
     right: 0px;
     background-color: #f0ece7;
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color:rgb(217, 242, 217) ;
     z-index: 100;
}

.left-section {

    display: flex;
    align-items: center;
    
}
.hamburger-menu{
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.youtube-logo{
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 200px;
    margin-right: 30px;
    max-width: 500px;
    display: flex;
    align-items: center;
   
}

.search-bar{

    flex: 1;
    height: 35px;
        font-size: 17px;
    padding-left: 12px;
 
    border-width: 1px;
    border-style: solid;
    border-color: rgb(172, 202, 232);
    border-radius: 5pxpx;
    box-shadow: inset 1px 2px 3px
    rgb(63, 65, 83) ;
    width: 0;
}

.search-bar::placeholder{
    font-family: arial;
       font-size: 17px;
}

.voice-search-icon{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: none;
    background-color: rgb(234, 227, 227);

    

}

.voice{
    height: 30px;
    margin-top: 3px;
}

.search-button{   
    height: 40px;
    width: 50px;
    margin-top: 0px;
    background-color: rgb(203, 203, 203);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    margin-left: 0px;
    margin-right: 8px;
    position: relative;
  
}

.search-button .tool-tip{
    position: absolute;
    background-color: rgb(93, 93, 91);
    color: #f0ece7;
    bottom: -15px;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 10px;
    opacity: 0;
    align-items: center;
}
 .search-button:hover .tool-tip{
    opacity: 1;
    transition: 1s;
    pointer-events: none;
    transition-delay: 0.01s;
   
 }


.right-section {

    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    flex-shrink: 0;
}
.search-icon{
    height: 25px;
  
    align-items: center;
}

.upload-icon{
    height: 24px;
}
.youtube-app-icon{
    height: 24px;
}
.notification-icon{
    height: 24px;
    
}
current-user{
    height: 24px;
    width: 24px;
}
.notification-container{
    position: relative;
}
.notification-count{
    position: absolute;
    top: 0.1;
    right:60px ;
    
    background-color: red;
    color: aliceblue;
    border-radius: 20px;
    font-family: arial;
    padding-left: 5px;
    padding-right: 5px;
}


