
            .thumbnails {
                width: 100%;
               vertical-align: 100%;
         

            }

        
            .channel-pic2 {
                width: 40px;
                display:inline-block;
                vertical-align: top;
    
            }
            .video_info2{
                width: 250px;
                display: 200px;
            
            }
            .channel-pic3{
                width: 100%;
                display: inline-block;
                border-radius: 70px;
                vertical-align: top;
            }

            .video-title2{
                margin-bottom: 0px;
            
            }
            .video-grid{
                column-gap: 12px;
                row-gap: 20px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }

            @media (max-width: 100px) { 
            .video-grid {
                grid-template-columns: 1fr 1fr;}
            } 

             @media (min-width: 1000px) { 
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;}

            }
            .current-user{
                border-radius: 30px;
                width: 40px;
            }
          .video-preview2{

             position: relative;
          }
            .video-time{
                background-color: black;
                color: antiquewhite;
                position: absolute;
                bottom: 30px;
                right: 10px;
                font-family: arial;
                font-weight: 500px;
                font-size: medium;
                border-radius: 2px;
            }

        .video-preview2{

             position: relative;
          }
     .video-time2{
                background-color: black;
                color: antiquewhite;
                position: absolute;
                bottom: 30px;
                right: 10px;
                font-family: arial;
                font-weight: 500px;
                font-size: medium;
                border-radius: 2px;
            }
      .video-preview2{

             position: relative;
      }
          .video-time2{
                background-color: black;
                color: antiquewhite;
                position: absolute;
                bottom: 30px;
                right: 10px;
                font-family: arial;
                font-weight: 500px;
                font-size: medium;
                border-radius: 2px;
            }
          
